#area-links ul {
    display: flex;
}

#area-links ul li {
    list-style: none;
}

#area-links ul li a {
    display: block;
    color: white;
    padding: 10px 20px;
    background-image: url('fundo-horizontal.png');
    text-decoration: none;
    border: 1px solid lightblue;
}

#area-links ul li a:hover {
    background: lightblue;
}